<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
    <body>
        <div class="min-content">
        {{>header}}
        <img class="protrait" src="/img/myimg.jpg">
        </div>

        {{>footer}}
    </body>
</html>
