<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
    <body>
        <div class="min-content">
        {{>header}}
        </div>

         {{>footer}}
    </body>
</html>
